<!DOCTYPE html>
<html lang="en" data-ng-app="handicapApp">
<head>

    <link href="content/styles/css/styles.min.css" rel="stylesheet" />
    <link href="content/styles/css/bootstrap/bootstrap.css" rel="stylesheet" />
    <link href="content/styles/css/font-awesome/fontawesome-all.css" rel="stylesheet" />
    <link href="content/styles/css/font-awesome/fontawesome.css" rel="stylesheet" />

    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>-->
    <script src="content/script/angular/angular.min.js"></script>

    <script src="https://www.gstatic.com/firebasejs/4.1.3/firebase.js"></script>

    <!-- AngularFire -->
    <script src="https://cdn.firebase.com/libs/angularfire/2.3.0/angularfire.min.js"></script>

    <script>
        // Initialize Firebase
        var config = {
            apiKey: "AIzaSyBMbXX6RWQRhtAZ8CD9kui--DGcV9LxxB4",
            authDomain: "smgc-1487256758030.firebaseapp.com",
            databaseURL: "https://smgc-1487256758030.firebaseio.com",
            projectId: "smgc-1487256758030",
            storageBucket: "smgc-1487256758030.appspot.com",
            messagingSenderId: "401455718840"
        };
        firebase.initializeApp(config);
    </script>

    <script src="content/script/app.js"></script>

    <script src="content/script/controller/teams-controller.js"></script>

    <script src="content/script/controller/handicap-controller.js"></script>

    <script src="content/script/controller/team-service.js"></script>



</head>
<body class="container">
    <h1>{{handicap.message}}</h1>

    <div class="teams-container" data-ng-controller="TeamController as team">
        <div class="teams-add">

            <h2>Add a Team</h2>
            <form data-ng-submit="team.createTeam()">

                <label>
                    Team Name
                    <input type="text" name="Team Name" data-ng-model="team.name" />
                </label>

                <label>
                    Player 1 Name
                    <input type="text" name="Player 1 Name" data-ng-model="team.player1Name" />
                </label>

                <label>
                    Player 2 Name
                    <input type="text" name="Player 2 Name" data-ng-model="team.player2Name" />
                </label>

                <button type="submit" class="btn-primary">Add Team</button>
            </form>
        </div>


        <div class="teams-list-container">
            <h2>Select Team</h2>

            <ul class="teams-list">

                <li class="team-list-item" data-ng-repeat="eachTeam in team.teams">
                    <button class="team-name fake-button" data-ng-click="team.populateTeamInfo(eachTeam)">{{eachTeam.name}}</button>
                    <button class="team-remove fake-button" data-ng-click="team.removeTeam(eachTeam)"><i title="Remove Team" class="fa fa-trash"></i></button>
                </li>
            </ul>
        </div>
        <div class="team-info-container" data-ng-show="team.isTeamSelected === true">

            <h2>Team Info</h2>
            <dl class="team-info-content">

                <dt>Name: </dt>
                <dd>{{team.selectedTeam.name}}</dd>
                <dt>Player 1: </dt>
                <dd>{{team.selectedTeam.player1}}</dd>
                <dt>Player 2: </dt>
                <dd>{{team.selectedTeam.player2}}</dd>
                <dt>Handicap: </dt>
                <dd>{{team.selectedTeam.handicap}}</dd>

            </dl>
            <div class="team-scores">
                <h3>Scores</h3>
                <ul>
                    <li data-ng-repeat="score in team.selectedTeam.scores track by $index">Week {{$index + 1}} - {{score}}<a>Edit</a><a>Delete</a></li>
                </ul>
            </div>
            <a href="#" data-ng-click="team.enterNewScore()">Enter New Score</a>
        </div>






        <div data-ng-show="team.enterNewScore == true">
            <!--<h2>Enter Score</h2>

            <h3>Select Course</h3>
            <select>
                <option>Salisbury Golf Course</option>
            </select>


            <h3>Select Week</h3>
            <select>
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
                <option>6</option>
                <option>7</option>
                <option>8</option>
                <option>9</option>
                <option>10</option>
            </select>-->
            <!--<form name="EnterScore" data-ng-submit="handicap.submitScore(handicap.holes, handicap.selectedTeam)">-->
            <form name="SubmitScore" data-ng-submit="team.submitScore(team.totalScore)">
                <!--<table>
                    <thead>
                        <tr>
                            <td data-ng-repeat="hole in handicap.holes">{{hole.name}}</td>
                        </tr>
                        <tr>
                            <td data-ng-repeat="hole in handicap.holes">{{hole.yardage}}</td>
                        </tr>
                        <tr>
                            <td data-ng-repeat="hole in handicap.holes">{{hole.par}}</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td data-ng-repeat="hole in handicap.holes">
                                <input data-ng-change="handicap.calculateTotal(hole); handicap.scoreToPar(hole)" required name="Hole {{hole.name}}" data-ng-model="hole.score" type="text" />
                            </td>
                        </tr>
                    </tbody>
                </table>-->
                <h3>
                    Total Score:
                    <!--<span>{{handicap.calculateTotal(handicap.holes)}}</span>-->
                    <input type="tel" data-ng-model="team.totalScore" />

                    {{team.totalScore}}
                </h3>

                <!--<h3>
                    Score to Par:
                    <span>{{handicap.scoreToPar(handicap.holes)}}</span>
                </h3>-->
                <input type="submit" id="submit" value="Submit Score" />

            </form>



            <!--<button data-ng-click="handicap.calculateHandicap(handicap.selectedTeam)">Calculate Handicap</button>
            <h3>New Handicapss: <span id="id"></span></h3>-->

        </div>
    </div>


</body>
</html>