<!DOCTYPE html>
<meta charset="utf-8" />
<html data-ng-app="handicapApp">
<head>

    <script src="https://code.angularjs.org/latest/angular.min.js"></script>
    <!--<link rel="stylesheet" href="style.css" />-->
    <!-- Controller -->
    <script src="script/controller/handicapController.js"></script>
    <!-- App -->
    <script src="script/app.js"></script>
</head>
<body class="controller" data-ng-controller="HandicapController as handicap">
    <h1>{{handicap.message}}</h1>
    <div>
        <h2>Select Team</h2>
        <ul>
            <li data-ng-repeat="team in handicap.teams | orderBy:'name'">
                <button data-ng-click="handicap.populateTeamInfo(team)">{{team.name}}</button>
            </li>
        </ul>
    </div>
    <div data-ng-show="handicap.isTeamSelected === true">
        <h2>Team Info</h2>
        <h3>Name: {{handicap.selectedTeam.name}}</h3>
        <h3>Handicap: {{handicap.selectedTeam.handicap}}</h3>
        <h3>Player 1: {{handicap.selectedTeam.player1}}</h3>
        <h3>Player 2: {{handicap.selectedTeam.player2}}</h3>
        <div>
            <h3>Scores</h3>
            <ul>
                <li data-ng-repeat="score in handicap.selectedTeam.scores track by $index">{{score}} <a>Edit</a><a>Delete</a></li>
            </ul>
        </div>
        <a href="#" data-ng-click="handicap.enterNewScore()">Enter New Score</a>
    </div>

    <div data-ng-show="handicap.enterNewScore == true">
        <!--<h2>Enter Score</h2>

        <h3>Select Course</h3>
        <select>
            <option>Salisbury Golf Course</option>
        </select>


        <h3>Select Week</h3>
        <select>
            <option>1</option>
            <option>2</option>
            <option>3</option>
            <option>4</option>
            <option>5</option>
            <option>6</option>
            <option>7</option>
            <option>8</option>
            <option>9</option>
            <option>10</option>
        </select>-->
        <form name="EnterScore" data-ng-submit="handicap.submitScore(handicap.holes, handicap.selectedTeam)">
            <table>
                <thead>
                    <tr>
                        <td data-ng-repeat="hole in handicap.holes">{{hole.name}}</td>
                    </tr>
                    <tr>
                        <td data-ng-repeat="hole in handicap.holes">{{hole.yardage}}</td>
                    </tr>
                    <tr>
                        <td data-ng-repeat="hole in handicap.holes">{{hole.par}}</td>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td data-ng-repeat="hole in handicap.holes">
                            <input data-ng-change = "handicap.calculateTotal(hole); handicap.scoreToPar(hole)" required name="Hole {{hole.name}}" data-ng-model="hole.score" type="text" />
                        </td>
                    </tr>
                </tbody>
            </table>
            <h3>
                Total Score:
                <span>{{handicap.calculateTotal(handicap.holes)}}</span>
            </h3>
            
            <h3>
                Score to Par:
                <span>{{handicap.scoreToPar(handicap.holes)}}</span>
            </h3>
            <input type="submit" id="submit" value="Submit Score" />

        </form>



        <button data-ng-click="handicap.calculateHandicap(handicap.selectedTeam)">Calculate Handicap</button>
        <h3>New Handicap: <span id="id"></span></h3>

    </div>

</body>
</html>