/// <reference path="../partials/_mixins.scss" />


/* Shared */
$base: #FFF;
$content-standard: #000;

$background-color: #F8F8F8;
$base: #FFF;
$content-standard: #383A42;
$paragraph-text: #383A42;

/* Header */
$primary: #31561f;
$secondary: #b6c57a;
/*$tertiary: #1D241F;*/
$tertiary: #76934C;
$action: #31561f;




/* Footer */
$footerBackground-light: #F8F8F8;
$footerBackground-dark: #E9E9E9;
$footerBorder-light: #CECECE;
$footerNavLink-border: #CECECE;
$footerTextLinks: #143600;
