//colors
$content-standard: #000;
$content-matte: #333;
$content-medium: #666;
$content-subtle: #CCC;
$background-standard: #EEE;
$background-subtle: #FBFBFB;
$background-light: #F6F6F6;
$background-medium: #DDD;
$background-input: #FCFCFC;
$base: #FFF;
$action: #1C23A5;
$primary: #FFC930;
$info-background: #EBECFD;
$important: #C00;
$error-background: #FFF5F5;
$primary-border: #EEB207;
$warning-background: #FDF6E5;
$success: #008000;
$success-background: #EDFAED;
$new-product: #FF9D30;
$black-friday-primary: #0155a6;
$black-friday-accent: #02ff00;
$camo-tuesday-primary: #FC6E0F;
$camo-tuesday-accent: #b34700;
$finder-action: #FFA601;
$finder-summary-background: #EBF5F7;
$finder-primary: #00467F;
$finder-accent: #91BED4;
$finder-tool-background: #f4f7f8;
$mw-logo-blue: #1a1d5e;

//social media colors
$facebook: #194AB0;
$googleplus: #DD4B39;
$twitter: #3B88C3;
$youtube: #CC181E;
$instagram: #125688;
$pinterest: #bd081c;

//input dimensions
$input-border-radius: .25em;
$input-height: 2.25em;

//fonts
$mwarial: Arial, Helvetica, sans-serif;
$mwsans: Verdana, Arial, Helvetica, sans-serif;
$mwserif: Palatino Linotype, Palatino, Georgia, Times New Roman, Serif;
$camo-tuesday-font: Arial, $mwarial;
$black-friday-font: 'Anton', $mwsans;

//gradent location percent
$start-percent: 0%;
$end-percent: 100%;
