body {
}


form {
    transition: all linear 0.5s;
    background: transparent;
    /*&.ng-invalid {
        background: red;
    }*/
}

input, button {
    display: block;
}


.fake-button {
    background: 0;
    border: 0;
    display: inline-block;

    &:hover {
        text-decoration: underline;
    }
}


.team {

    &-list-item {
        margin: .5em;
    }

    &-name {
        font-size: 1.25em;
        text-align: left;
        width: 85%;
    }

    &-remove {
        &:hover {
            color: lighten(#333, 30%)
        }
    }
}
