
<h2>Scorecard</h2>
<a class="download-scorecard" href="pdf/scorecard.pdf" target="_blank">Download Scorecard</a>
<img class="l-main-image" alt="Salisbury Golf Course Scorecard" title="Salisbury Golf Course Scorecard" src="content/images/scorecard.jpg" />

<div class="l-text-content">
    <h3>Rules of Play</h3>
    <span class="note">USGA rules shall govern all play except where modified by the following:</span>
    <ul>
        <li>No group larger than five at a time.</li>
        <li>Fence out of bounds on holes 1, 2, 3 and behind 4. Out of bounds markers between 7 &amp; 8 fairways.</li>
        <li>Electrical hazards: Free drop two club lengths no closer to the flag.</li>
        <li>Keep carts on cart paths at all times.</li>
        <li>Honor system when course is full and 18 holes are being played.</li>
        <li>Plase invite faster players to play through.</li>
        <li>Ball on bridge: Free drop no closer to flag.</li>
        <li>FRONT 9: White Tees or Red Tees</li>
        <li>BACK 9: Blue Tees</li>
    </ul>
    <span class="note"><b>Please repair all ballmarks, replace all divots in fairway, and rake all sandtraps.</b></span>
</div>
