@import "mixins";

@import "themes/darkGreenTheme";
.nav-icon {
    display: none;

    @media (max-width: $break-medium) {
        cursor: pointer;
        display: inline-block;
        font-size: 1.4em;
        line-height: 1.3;
        margin-left: .25em;
        padding-left: 1.25em;
        position: relative;
        text-indent: -999em;

        @media (min-width: $break-small) {
            font-size: 1.75em;
            margin-left: 0;
        }

        &:before {
            background: $secondary;
            box-shadow: 0 .35em 0 0 $secondary;
            content: "";
            position: absolute;
            height: 0.15em;
            left: 0;
            top: 0.25em;
            width: 1.15em;
        }

        &:after {
            background: $secondary;
            box-shadow: 0 0.7em 0 0 $secondary;
            content: "";
            height: 0.15em;
            left: 0;
            position: absolute;
            top: 0.25em;
            width: 1.15em;
        }

        &:hover {
            color: darken($secondary, 10%);
        }
    }
}

.primary-nav {
    @media (max-width: $break-medium) {
        @include linear-gradient(#3e453e, #2d3234);
        height: 100%;
        left: -244px;
        overflow: hidden;
        position: fixed;
        top: 0;
        width: 244px;
        z-index: 12;
        @include transition(left 0.5s ease-out);
    }

    @media (min-width: $break-medium) {
        background: $primary;
        @include box-sizing(border-box);
        font: $serif-font;
        position: relative;
        text-align: center;
        width: 100%;
    }

    &.is-open {
        @media (max-width: $break-medium) {
            -webkit-backface-visibility: hidden;
            -moz-backface-visibility: hidden;
            backface-visibility: hidden;
            overflow-x: hidden;
            -webkit-overflow-scrolling: touch;
            left: 0;
            overflow-x: hidden;
            overflow-y: scroll;
        }
    }

    ul {
        @media (max-width: $break-medium) {
            list-style: none;
            margin: 0;
            width: 100%;
            padding: 0;
        }
    }

    li {
        display: inline-block;

        @media (max-width: $break-medium) {
            border-bottom: 1px solid $tertiary;
            font-weight: $bold;
            position: relative;
            width: 100%;
        }

        @media (min-width: $break-medium) {
            width: 17%;
        }

        &:first-child {
            @media (min-width: $break-medium) {
                display: none;
            }
        }

        &:last-child {
            a {

                @media (min-width: $break-medium) {
                    border-right: 0;
                }
            }
        }
    }


    a {
        color: $base;
        text-decoration: none;
        display: block;
        padding: .5em 1em;
        font-weight: $bold;

        @media (min-width: $break-medium) {
            border-right: 2px solid #617861;
            font-size: 1em;
            font-weight: 500;
            margin: .5em 0;
            padding: 0;
        }

        @media (min-width: $break-large) {
            font-size: 1.25em;
            line-height: 1;
        }

        &:hover {
            @media (min-width: $break-medium) {
                color: $secondary;
            }
        }

        &.is-active {
            color:#b6c57a;
        }
    }

    .aw-widget-legal {
        padding: 0;
    }
}

/* The Layer that will be layed over the content so that the content is unclickable while menu is shown */
.content-layer {
    @media (max-width: $break-medium) {
        background: $content-standard;
        display: none;
        height: 100%;
        opacity: .75;
        position: fixed;
        top: 0;
        width: 100%;
        z-index: 5;
    }

    &.is-open {
        @media (max-width: $break-medium) {
            display: block;
        }
    }
}

.nav-weather {
    margin-top: .5em;

    @media (min-width:$break-medium) {
        display: none;
    }
}
