@import "mixins";

.l-text-content {
    &.directions {
        text-align: left;
    }

    &.course-info {
        margin: 1em auto;
        max-width: 30em;
        width: 95%;

        @media (min-width:$break-medium) {
            display: inline-block;
            margin: 0 12% 0 2%;
            width: 30%;
        }
    }
}

.l-main-image {
    &.directions {
        border: 0;
        margin-top: 2em;
        max-width: 30em;
        padding: 0;

        @media (min-width:$break-medium) {
            display: inline-block;
            margin: 0;
            max-width: none;
            width: 50%;
        }
    }
}


.get-directions {
    margin-top: 2em;

    @media (min-width:$break-medium) {
        margin-top: 3em;
    }
}

#map {
    background-color: grey;
    height: 350px;
}
