@import "mixins";
@import "../themes/darkGreenTheme";

.current-weather {
    display: block;
    margin: 1em 0;
    max-width: 950px;

    @media (min-width:$break-medium) {
        margin: 1em auto;
    }
}

.aw-more-block {
    display: none !important;
}
